#Temp files 
*~
.~*
*.swp
*.Rhistory

#Internal notes
dockerBuild/pointsToAddress.txt
dockerBuild/internalNotes.txt
dockerBuild/example_dockerfile
dockerBuild/README_inProgresss.md

#MCR files:
requiredMCRProducts.txt
readme.txt
mccExcludedFiles.log

#Output data
processingAndVisualization/testOutput/
segmentationOutput/
dockerBuild/output/*RAW*
dockerBuild/output/*.fig

#Input data
insets_TxB/
segmentationCode/externalParamsLocal.txt
pRb_NC_testing/

#Example files
dockerBuild/ashlarExamples

#Compiled files
#*.sh
#runSegmentation
*runSegmentationO2
#compilationFiles/
#dockerBuild/runSegmentation
#dockerBuild/runSegmentation_Caitlin
