#Temp files 
*~
.~*

#MCR files:
requiredMCRProducts.txt
readme.txt
mccExcludedFiles.log

#Output data
output/
processingAndVisualization/testOutput/
segmentationOutput/

#Input data
insets_TxB/
segmentationCode/externalParamsLocal.txt
pRb_NC_testing/

#Example files
dockerBuild/ashlarExamples

#Compiled files
#*.sh
#runSegmentation
*runSegmentationO2
#compilationFiles/
#dockerBuild/runSegmentation
#dockerBuild/runSegmentation_Caitlin
